html {
    scroll-behavior: smooth;
    scroll-margin-top: 10px
}

.container{
    min-height: calc(100vh - 4rem);
}

@media screen and (max-width: 600px) {
    .container{
        padding: 0 2rem;
    }
}
@media screen and (min-width: 600px) {
    .container{
        padding: 0 3rem;
    }
}
@media screen and (min-width: 992px) {
    .container{
        padding: 0 5rem;
    }
}