.contacto{
    display: flex;
    background: #EAF2FD;
    color: #464646;
    font-family: 'Raleway',sans-serif;
}
@media screen and (min-width: 600px) {
    .contacto{
        display: block;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }   
}
@media screen and (max-width: 600px) {
    .contacto{
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }   
}
@media screen and (min-width: 992px) {
    .contacto{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}
@media screen and (min-width: 992px) {
    .contacto{
        display: flex;
        justify-content: space-between;
    }   
}