html {
    scroll-behavior: smooth;
}

body{
    scroll-behavior: smooth;
}

.container{
    min-height: calc(100vh - 3rem);
}

@media screen and (max-width: 600px) {
    .container{
        padding: 0 2rem;
    }
}
@media screen and (min-width: 600px) {
    .container{
        padding: 0 3rem;
    }
}
@media screen and (min-width: 992px) {
    .container{
        padding: 0 5rem;
    }
}