.contacto {
    display: flex;
    background: #EAF2FD;
    color: #464646;
    font-family: 'Raleway', sans-serif;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 992px) {
    .contacto {
        display: flex;
        justify-content: space-between;
    }
}