.experiensiaProfesional{
    font-family: 'Raleway', sans-serif;
    color: #464646;
    background: #F5F5F5;
}
@media screen and (min-width: 600px) {
    .experiensiaProfesional{
        padding-top: 2rem;
        padding-bottom: 1.5rem;
    }
}
@media screen and (min-width: 992px) {
    .experiensiaProfesional{
        padding-top: 3rem;
        padding-bottom: 5rem;
    }
}