.formacion{
    font-family: 'Raleway', sans-serif;
    color: #464646;
    background: #EAF2FD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .formacion {
        padding: 2rem;
    }
}