.hobbies{
    background: #F5F5F5;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-family: 'Raleway', sans-serif;
    color: #464646;
}
@media screen and (max-width:768px) {
    .hobbies{
        padding-top: 1rem;
    }
}