.hobbies{
    background: #F5F5F5;
    font-family: 'Raleway', sans-serif;
    color: #464646;
}
@media screen and (min-width: 600px) {
    .hobbies{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}
@media screen and (max-width: 600px) {
    .hobbies{
        padding-top: 1rem;
        padding-bottom: 2.5rem;
    }
}
@media screen and (min-width: 992px) {
    .hobbies{
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
}