.presentacion{
    background:  #F5F5F5;
    padding-bottom: 2rem ;
    display: flex;
    font-family: 'Raleway',sans-serif;
    align-items: center;
}
@media screen and (min-width: 600px) {
    .presentacion{
        justify-content: space-between;
    }
}
@media screen and (max-width: 600px) {
    .presentacion{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
    }
}
@media screen and (min-width: 992px) {
    
}