.presentacion {
    background: #F5F5F5;
    display: flex;
    font-family: 'Raleway', sans-serif;
    justify-content: space-between;
    align-items: center;
}


@media screen and (max-width: 600px) {
    .presentacion {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        justify-content: stretch;
    }
    
}

@media screen and (max-width: 992px) {
    .presentacion {
        flex-direction: column;
        flex-wrap: wrap;
        padding: 2rem;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    
}