.presentacion{
    background:  #F5F5F5;
    padding-bottom: 2rem ;
    display: flex;
    font-family: 'Raleway',sans-serif;
    align-items: center;
}
@media screen and (max-width:768px) {
    .presentacion{
        justify-content: space-between;
    }
}