.sobreMi {
    font-family: 'Raleway', sans-serif;
    color: #464646;
    background: #EAF2FD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobreMi__texto-container {
    max-width: 80%;
    margin: auto;
}

@media screen and (max-width: 600px) {
    .sobreMi {
        margin: 2rem 0;
    }
}
