.sobreMi__texto{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: justify;
    padding-top: 1.5rem;
}
@media screen and (min-width: 0px) {
    .sobreMi__texto{
        width: 100%;
        font-size: 14px;
    }
}
@media screen and (min-width: 992px) {
    .sobreMi__texto{
        width: 70%;
        font-size: 16px;
    }
}