.head__nombre{
    display: flex;
    align-items: center;
}
.logo__nombre{
    width: 24px;
    height: 24px;
}
.titulo__nombre{
    order: 2;
}
@media screen and (min-width: 600px) {
    .titulo__nombre{
        font-size: 16px;
        font-weight: bold;
    }
    .logo__nombre{
        width: 12px;
        height: 12px;
    }
}