.proyecto__informacion{
    width: calc(40% - 5rem);
    padding-left: 5rem;
}
@media screen and (min-width: 600px) {
    .proyecto__informacion{
        order: 2;
        width: 100%;
        padding-left: 0px;
    }
}