.proyecto{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 4rem;
    align-items: center;
}
@media screen and (min-width: 600px) {
    .proyecto{
        flex-direction: column;
    }
}
@media screen and (max-width: 600px) {
    .proyecto{
        flex-direction: row;
    }   
}
@media screen and (min-width: 992px) {
    .proyecto{
        flex-direction: row;
    }
}