.proyecto__informacion{
}
@media screen and (min-width: 600px) {
    .proyecto__informacion{
        order: 2;
        width: 100%;
        padding-left: 0px;
    }
}
@media screen and (max-width: 600px) {
    .proyecto__informacion{
        width: 100%;
        order: 2;
        padding-left: 0px;
    }   
}
@media screen and (min-width: 992px) {
    .proyecto__informacion{
        width: calc(40% - 5rem);
        padding-left: 5rem;
        order: 1;
    }
}