.proyecto__informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background-color: #fff;
    flex: 1;
}

@media screen and (max-width: 767px) {
    .proyecto__informacion {
        width: 100%;
        padding: 1.5rem;
        border-radius: 0 0 12px 12px;
    }   
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .proyecto__informacion {
        width: 100%;
        padding: 2rem;
        border-radius: 0 0 12px 12px;
    }
}

@media screen and (min-width: 992px) {
    .proyecto__informacion {
        width: 45%;
        padding: 2.5rem;
    }
}