.proyecto__imagen{
    width: 60%;
}
.proyecto__imagen-01{
    order: 2;
}
.proyecto__imagen-03{
    order: 2;
}
@media screen and (max-width:768px) {
    .proyecto__imagen{
        width: 100%;
    }   
}