.form__label{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #A2A2A2;
    display: block;
    background: #FFFFFF;
    padding-top: .5rem;
    padding-left: 1rem;
    margin-top: 2rem;
}