.presentacion__descripcion{
    width: 70%;
}
.presentacion__titulo{
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    color: #464646
}
.presentacion__biografia{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #464646;
}
.presentacion__lista{
    padding-top: 2rem;
}
.presentacion__item{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
    padding-right:1.5rem ;
    transition: 0.5s;
}
.presentacion__item:hover{
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
}
@media screen and (max-width:768px) {
    .presentacion__titulo{
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
    }
    .presentacion__biografia{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
    }

}