.presentacion__imagen{
    width: 360px;
    height: 360px;
    background: url(../../img/perfil.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    order: 2;
    border-radius: 100%;
}
@media screen and (min-width: 600px) {
    .presentacion__imagen{
        width: 150px;
        height: 150px;
    }
}