.skills__titulo{
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    padding-bottom: 2rem;
}
@media screen and (min-width: 600px) {
    .skills__titulo{
        font-size: 22px;
    }
}