.formacion__contenido{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    align-items: flex-end;
}
@media screen and (min-width: 600px) {
 .formacion__contenido{
    align-items: center;
 }   
}
@media screen and (max-width: 600px) {
    .formacion__contenido{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (min-width: 992px) {
    .formacion__contenido{
        align-items: flex-end;
    }
}