.formacion__contenido{
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    align-items: flex-end;
}
@media screen and (max-width:768px) {
 .formacion__contenido{
    align-items: center;
 }   
}