.contenido__imagen{
    display: flex;
    background: #FFFFFF;
    justify-content: space-around;
}
.contenido__imagen-alura, .contenido__imagen-unp, .contenido__imagen-ufrj{
    box-sizing: content-box;
    width: 190px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
@media screen and (max-width:768px) {
    .contenido__imagen-alura, .contenido__imagen-unp, .contenido__imagen-ufrj{
        width: 100px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}