.contenido__titulo{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    padding-top: 1rem;
}
@media screen and (max-width: 600px) {
    .contenido__titulo{
        font-size: 16px;
    }   
}