.contenido__titulo{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    padding: 1.25rem 1.25rem 0.5rem 1.25rem;
    color: #2A7AE4;
}

@media screen and (max-width: 600px) {
    .contenido__titulo{
        font-size: 18px;
    }   
}