.tarjeta{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: #FFFFFF;
    width: calc(16.6% - 3rem);
    justify-content: flex-end;
    padding: 1rem 1rem;
}
@media screen and (min-width: 600px) {
    .tarjeta{
        width: calc(33.33% - 3.5rem);
        justify-content: space-around;
        margin: 1rem 1rem 1rem 0;
    }   
}