.tarjeta__imagen{
    padding-bottom: 0.5rem;
    padding-top: 4.5rem;
}
/*--------Skills--------*/
.tarjeta__html{
    width: 30px;
    height: 37px;
}
.tarjeta__js, .tarjeta__react{
    width: 32px;
    height: 37px;
}
.tarjeta__php,  .tarjeta__node{
    width: 45px;
    height: 37px;
}
.tarjeta__css{
    width: 23px;
    height: 28px;
}
/*--------Hobbies--------*/
.tarjeta__patinaje{
    width: 23px;
    height: 31px;
}
.tarjeta__tocarBajo{
    width: 32px;
    height: 37px;
}
.tarjeta__oirMusica{
    width: 24px;
    height: 24px;
}
.tarjeta__verSeries{
    width: 30px;
    height: 24px;
}
.tarjeta__cocinar{
    width: 26px;
    height: 25px;
}
.tarjeta__tomarFotos{
    width: 27px;
    height: 24px;
}
@media screen and (min-width: 600px) {
    .tarjeta__imagen{
        padding-top: 2.5rem;
    }   
}