.hobbies__tarjetas{
    display: flex;
    justify-content: space-between;
}
@media screen and (min-width: 600px) {
    .hobbies__tarjetas{
        flex-wrap: wrap;
    }   
}
@media screen and (max-width: 600px) {
    .hobbies__tarjetas{
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 992px) {
    .hobbies__tarjetas{
        flex-wrap: nowrap;
    }
}